$blackColor: #111321;
$dateColor: #a8a8a8;
$hoverColor: #4440f6;
$whiteColor: #ffffff;
$heartColor: #4b48da;
$buttonColor: rgba(254, 254, 255, 0.3);
$btnBorderColor: #4440f7;
$btnTextColor: #4b48db;
$lineColor: #929292;

$mainFF: 'Manrope';
$fontStyle: normal;
