<!-- <section class="calendar">
  <div class="wrapper-calendar">
    <p class="calendar-text">Search date news</p>
    <div class="calendar-box">
      <input class="calendar-inp" type="text" id="datetime-picker" />
      <svg class="svg-calendar" width="20" height="20">
        <use href="./img/symbol-defs.svg#icon-calendar"></use>
      </svg>
      <svg class="svg-open-calendar" width="15" height="9">
        <use href="./img/symbol-defs.svg#icon-open-calendar"></use>
      </svg>
    </div>
  </div>
</section> -->
