<section class="burger-menu">
  <div
    class="burger-menu__wrapper js-menu-container light__theme"
    id="mobile-menu"
  >
    <button class="menu-toggle js-close-menu">
      <svg
        class="menu-toggle__icon svg__light__theme x__theme"
        width="24"
        height="24"
      >
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <h1 class="burger-menu__caption">News</h1>
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="../src/index.html" class="mobile-menu__link">
          <svg class="mobile-menu__icon" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-round-home"></use></svg>Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="../src/favorite.html" class="mobile-menu__link">
          <svg class="mobile-menu__icon" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-round-heart"></use>
          </svg>
          Favorite</a
        >
      </li>
      <li class="mobile-menu__item">
        <a href="../src/read.html" class="mobile-menu__link">
          <svg class="mobile-menu__icon" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-round-book"></use></svg>Read</a
        >
      </li>
    </ul>

        <div  class="toggle__box toggle__box__small">
        <svg class="toggle__sun__theme svg__toggle__sun" width="21" height="21"><use href="./img/symbol-defs.svg#icon-sun"></use></svg>
        <label class="switch">
        <input class="toggle" type="checkbox">
        <span class="slider round"></span>
        </label> 
        <svg class="toggle__moon__theme svg__toggle__moon" width="21" height="21"><use href="./img/symbol-defs.svg#icon-moon"></use></svg>
        </div>

    </div>
  </div>
</section>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<!-- deleted -->
