<div class="pagination">
  <ul class="pagination__list">
    <li class="button__pagination button__pagination-left"><a href="#0" class="button__pagination-prev">Prew</a></li>
    <li><a href="#0" class="number-mobile current">1</a></li>
    <li class="mark"><span >...</span></li>
    <li><a href="#0" class="number-mobile">4</a></li>
    <div class="hiden-number">
    <li><a class=" number-mobile number-mobile-five" href="#0">5</a></li>
    <li><a href="#0 " class="number-mobile">6</a></li>
    </div>
    <li class="mark"><span >...</span></li>
    <li><a href="#0" class="number-mobile">20</a></li>
    <li class="button__pagination button__pagination-right"><a href="#0" class=" button__pagination-next">Next</a></li>
  </ul>
</div>
